.custom-menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.doctors-av{
    width: 100%;
    min-height: 250px;
    background: lightblue;
}

.type-treatment{
    min-height: 250px;
    background: orange;
}

.patient-queue{
    min-height: 250px;
    background: lavenderblush;
}