.consultation-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  background: rgb(40, 65, 255);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  color: white;

  &:hover {
    background: rgb(245, 247, 250);
    color: black;

    .icon {
      color: black;
    }
  }

  .card-content {
    width: 100%;
    padding: 16px;

    .medic-name {
      font-weight: bold;
      color: inherit;
    }

    .treatment-name {
      font-size: 1rem;
      color: inherit;
    }

    .arrow-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      color: inherit;
    }
  }

  .appointment-details {
    display: flex;
    align-items: center;
    gap: 16px;
    background: rgb(223, 229, 232);
    padding: 10px;
    border-radius: 8px;
    width: fit-content;

    .icon {
      margin-right: 6px;
      color: inherit;
    }

    .divider {
      height: 20px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .date, .time {
      font-size: 0.9rem;
      color: inherit;
    }
  }
}
