.navbar {
  width: 100%;
  justify-content: space-between;


  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      .icon-box {
        padding: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: #e0e0e0;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &.selected {
          background-color: #007bff;
          color: white;
        }

        &:hover {
          background-color: #007bff;
          color: white;
        }

        svg {
          font-size: 24px;
        }
      }
    }
  }

  a.nav-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Ensures it inherits the color from the parent element */
  }

  .navbar-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pad{
    padding: 20px;
  }

  @media (max-width: 1024px) {
    .navbar-right{
    display: none;
    }

    .mobile-navbar{
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0px;
    }
  }


  @media (min-width: 1024px) {
    .desktop-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ul {
        padding-inline: 25px;
      }
    }
  }
}

