.treatment-categories {
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns
    gap: 16px; // Spacing between boxes
  }

  .category-box {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .category-name {
      position: absolute;
      top: 32px;
      left: 16px;
      max-width: calc(100% - 75px); // Ensures the name fits within the box
      font-size: 20px;
      font-weight: bold;
      color: #333;
      word-wrap: break-word;
    }

    .arrow-icon {
      position: absolute;
      bottom: 16px;
      right: 16px;
      font-size: 20px;
      color: #333;
    }
  }
}