.outline{
  width: 100%;
  padding-block-start: 60px;
}
// pentru padding content
.treatments-page {
    display: flex;
    flex-direction: column;
    overflow: auto;
    outline: 2px solid;
    height: 100%;
  }
  
