.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding-block: 50px;
    width: 100%;
  
    .appointment-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1; // Allow sections to expand
      min-width: 350px; // Ensure sections are at least 350px wide
      max-width: 450px; // Optional: Limit max width
      box-sizing: border-box;
  
      h3 {
        margin: 0 0 10px;
        font-size: 1.5rem;
      }
  
      p {
        font-size: 1rem;
        color: #666;
      }
  
      /* Ensure sections take full width if they wrap */
      @media (max-width: 700px) {
        min-width: 100%; // Take full width when wrapped
      }
    }
  }