.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-top: 1px solid #ddd;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-column {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;

      &:first-child{
        align-items: center;
      }

      &:nth-child(2){
        padding-left: 3rem;
      }

      .footer-logo {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .clinic-logo {
          width: 50px;
          height: 50px;
          background: darkblue;
          object-fit: contain;
        }

        .clinic-name {
          font-size: 1.5rem;
          font-weight: bold;
          color: #333;
        }
      }

      .powered-by {
        text-align: left;
        margin-top: 10px;
        font-size: 0.9rem;
        color: #777;
      }

      h3 {
        font-size: 1.2rem;
        color: #007bff;
        margin-bottom: 10px;
      }

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.9rem;
        color: #555;
        margin: 5px 0;

        .footer-icon {
          color: #007bff;
        }
      }

      .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        a {
          color: #555;
          transition: color 0.3s;

          &:hover {
            color: #007bff;
          }

          svg {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    margin-top: 20px;
  }
}