.button-cas{
  display: flex;
  width: 100%;
  padding-inline: 20px;
}

.request-appointment-button {
  position: absolute; // Sticky positioning to keep it in view
  width: 100%;
  height: 50px;
  bottom: 120px;     // Positioned 70px above the bottom of the viewport
  margin-top: auto; // Pushes the button down to the bottom of the container
  align-self: center; // Center the button horizontally
  z-index: 1001;
}

@media (min-width: 1024px) {
  .button-cas{
    display: none;
  }
}