@import './variables';

.dashboard-page{
    display: flex;
    width: 100%;
}

.frame{
    display: flex;
    width: 60px;
}

.dashboard-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-wrapper{
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    overflow: scroll;
}
