.sidebar-frame {
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  background-color: #f9f9f9;
  z-index: 30;
  transition: width 0.3s, transform 0.3s;
  overflow-y: auto;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hidden {
    transform: translateX(-100%);
    width: 0;
  }

  &.collapsed {
    width: 70px;
    transform: translateX(0);
  }

  &.expanded {
    width: 260px;
    transform: translateX(0);
  }

  &.expanded-full {
    width: 100vw;
    transform: translateX(0);
    z-index: 40;
  }



  .frames {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px); // Adjust for logo height
    width: 100%;
    height: 100%;
  }

  .content-frame,
  .settings-frame {
    padding: 10px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-block-start: 10px;
    width: 100%;

    &.active {
      background-color: #e0f7fa;
    }

    .btn-img {
      display: flex;
      width: 35px;
      height: 35px;
      margin-left: 7px;
    }

    .btn-label {
      font-size: 14px;
    }
  }
}

.chevron-toggle {
  position: fixed;
  top: 40px;
  z-index: 990;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: left 0.3s, right 0.3s;

  img {
    width: 30px;
    height: 30px;
  }
}


@media(max-width: 768px){
  .chevron-toggle{
  top: 10px;
  border: none;

  &:hover{
    scale: 1.1;
  }
  }
}