.outer-layer{
    display: flex;
    width: 100%;
    margin: 70px 100px;

    @media( max-width:'1024px') {
      margin: 70px 10px;
    }
}

.medics-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-block-start: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;

    @media( max-width:'1024px') {
      margin: 0;
    }
  }
  
  .medic-card {
    min-width: 320px;
    width: 100%;
    height: 220px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: transform 0.2s, box-shadow 0.2s;

    @media (min-width: '1024px') {
      max-width:320px;
    }
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  
    .row {
      display: flex;
      gap: 20px;
      align-items: center;
  
      .medic-photo {
        width: 80px;
        height: 80px;
        border-radius: 7px;
        object-fit: cover;
      }
  
      .medic-info {
        flex-grow: 1;
  
        .medic-name {
          font-size: 1.2rem;
          font-weight: bold;
          margin: 0;
          color: #333;
        }
  
        .medic-speciality {
          font-size: 0.9rem;
          color: #666;
          margin: 5px 0;
        }
  
        .medic-phone {
          font-size: 0.9rem;
          color: #007bff;
          display: flex;
          align-items: center;
  
          .phone-icon {
            font-size: 1rem;
            margin-right: 5px;
          }
        }
      }
    }

  
    .working-days {
      display: flex;
      justify-content: center;
      gap: 10px;
  
      .working-day-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
        font-size: 0.9rem;
        font-weight: bold;
        color: white;
        transition: background-color 0.3s;
  
        &.active {
          background-color: #007bff;
        }
      }
    }
  }

