.treatments-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: 70px 200px 50px 150px;
  
    @media (max-width: 1024px) {
      flex-direction: column;
      margin-inline: 20px;
    }
  
    .navigation-menu {
      position: fixed;
      width: 270px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      height: calc(100vh - 60px);
  
      @media (max-width: 1024px) {
        display: none;
      }
  
      .nav-item {
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #f9f9f9;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
  
        &.active {
          background-color: #007bff;
          color: white;
        }
  
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  
    .categories-chips {
      display: none;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 20px;
  
      @media (max-width: 1024px) {
        display: flex;
      }
  
      .chip {
        border-radius: 8px;
        font-size: 0.9rem;
        padding: 5px 10px;
  
        &.active {
          background-color: #007bff;
          color: white;
        }
      }
    }
  
    .categories-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-inline-start: 280px;

      @media (max-width: 1024px) {
        margin: 20px ;
        padding-inline-start: 0px;
      }
  
      .category-box {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
        .category-name {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 20px;
        }
  
        .treatments-list {
          display: flex;
          flex-direction: column;
          gap: 15px;
  
          .treatment-item {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: white;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            width: 100%;
          }
        }
      }
    }
  }