$text: #0c0c0c;
$background: #ecebe9;
$primary: #f3f3f3;
$secondary: #ccccca;
$accent: rgb(48, 118, 189);


$gradient1: linear-gradient(330deg, #fceabb, #f8b500, #ff9a9e);
$gradient2: linear-gradient(330deg, #d4fc79, #96e6a1, #c0fdfb);
$gradient3: linear-gradient(330deg, #fbc2eb, #a6c1ee, #d1f4ff);