.consultation-details-page {
    padding: 1.5rem;
    background-color: #fff;
  
    .MuiAvatar-root {
      width: 60px;
      height: 60px;
    }
  
    .MuiTypography-subtitle1 {
      font-weight: bold;
      margin-top: 1rem;
    }
  
    .MuiDivider-root {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  
    .MuiButton-root {
      margin-top: 1.5rem;
    }
  
    .MuiSvgIcon-root {
      color: #757575;
    }
  }
  